body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #b0db7d 100%, #99dbb4 100%);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.loginbox{
    background: linear-gradient(to bottom right, #b0db7d 100%, #99dbb4 100%);
    top: 57%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    width: 170px;
    background: #585858;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffffff;
    color: #000;
}

.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover
{
    color: #ffa055;
}

































































